{% if instauser %}
{% load instautils humanize %}
<div class="user-header {% if instauser.is_verified %}verified{% endif %}">
    <div class="user">
        <div class="avatar">
            <img class="img" src="{{instauser.profile_pic_url|toImage}}">
        </div>
        <div class="info">
            <span class="username">{{instauser.full_name|default:instauser.username}}
                {% if instauser.is_verified %}
                <i class="verified"></i>
                {% endif %}
            </span>
            <span class="text">{{instauser.biography}}</span>
            <span class="followers">{{instauser.followers|intcomma}} Followers</span>
        </div>
    </div>
</div>
<form method="POST" id="tabForm">
    {% csrf_token %}
    <input name="username" type="hidden" value="{{instauser.username}}">
    <div class="results-tabs-instagram">
        <a class="tab profile {% if selected == 'profile' %}selected{% endif %}" value="{% url 'app_webapp:dp_downloader_index' %}">Profile</a>
        <a class="tab stories {% if selected == 'stories' %}selected{% endif %}" value="{% url 'app_webapp:stories_downloader_index' %}">Stories</a>
        <a class="tab reels {% if selected == 'reels' %}selected{% endif %}" value="{% url 'app_webapp:reels_downloader_index' %}">Reels</a>
    </div>
</form>
{% endif %}