<!-- Footer -->
<footer class="footer">
    <div class="centered">
        <div class="section-1">
            <a class="logo" href="index.html">Instadp</a>
            <div class="links"><a href="contact.html">Contact</a></div>
        </div>
        <div class="section-2">
            <div class="links">
                <a href="instagram-tools.html">Instagram Downloader</a>
            </div>
            <div class="disclaimer">Instadp is not affiliated with Instagram&trade;<br>We do not host any Instagram content.
            </div>
        </div>
    </div>
</footer>