{% load static %}
<!-- Recommended Articles -->
<div class="articles">
    <h2 class="heading">Recommended Articles</h2>
    <div class="list">
        <div class="article">
            <a class="link" href="article/7/how-to-disable-comments-on-your-instagram-posts.html">
                <div class="thumbnail"><img class="img" src="{% static 'webapp/images/articles/How-to-Disable-Comments-on-Your-Instagram-Posts.png' %}" alt="How to Disable Comments on Your Instagram Posts"></div>
                <div class="title">How to Disable Comments on Your Instagram Posts</div>
            </a>
        </div>
    </div>
</div>