<div class="tools-list">

    <div class="tools-header">
        <h2 class="heading">Downloader Tools for Instagram</h2>
        <p class="desc">Use our Instagram downloader tools to save the best photos and videos to your phone or computer for free in high quality</p>
    </div>
    <!-- Tool Tabs -->
    <ul class="tool-tabs">
        <li class="tool profile-pictures selected">
            <a class="link" title="Download Instagram Profile Pictures" href="profile-picture-downloader.html">
                <i class="icon"></i>
                <span class="name">Profile Picture</span>
            </a>
        </li>
        <li class="tool instagram-stories">
            <a class="link" title="Download Instagram Stories" href="story-downloader.html">
                <i class="icon"></i>
                <span class="name">Stories</span>
            </a>
        </li>
        <li class="tool instagram-reels">
            <a class="link" title="Download Instagram Reels" href="reel-downloader.html">
                <i class="icon"></i>
                <span class="name">Reels</span>
            </a>
        </li>
        <li class="tool instagram-videos">
            <a class="link" title="Download Instagram Videos" href="video-downloader.html">
                <i class="icon"></i>
                <span class="name">Videos</span>
            </a>
        </li>
        <li class="tool instagram-photos">
            <a class="link" title="Download Instagram Photos" href="photo-downloader.html">
                <i class="icon"></i>
                <span class="name">Photos</span>
            </a>
        </li>
    </ul>


    <div class="tool-section instagram-photos">
        <form>
            <div class="search-bar">
                <div class="tool-icon"></div>
                <input class="search-input" placeholder="username">
                <input class="search-btn" type="submit" value="">
            </div>
        </form>
    </div>
</div>