<div class="header">
    <h1 class="heading">Instagram Tools</h1>
    <p class="desc">These tools allow you to download content publicly available on Instagram.</p>
</div>

<div class="tools-list">

    <div class="list">
        <div class="tool profile-pictures">
            <a class="link" href="{% url 'app_webapp:who_unfollowed_index' %}">
                <i class="icon"></i>
                <span class="title">Who Unfollowed Me On Instagram?</span>
                <div class="arrow"></div>
            </a>
            <i class="bg-icon"></i>
        </div>
        <div class="tool instagram-photos">
            <a class="link" href="{% url 'app_webapp:dp_downloader_index' %}">
                <i class="icon"></i>
                <span class="title">Instagram DP Downloader</span>
                <div class="arrow"></div>
            </a>
            <i class="bg-icon"></i>
        </div>
        <div class="tool instagram-stories">
            <a class="link" href="{% url 'app_webapp:stories_downloader_index' %}">
                <i class="icon"></i>
                <span class="title">Instagram Stories Downloader</span>
                <div class="arrow"></div>
            </a>
            <i class="bg-icon"></i>
        </div>
        <div class="tool instagram-reels">
            <a class="link" href="{% url 'app_webapp:reels_downloader_index' %}">
                <i class="icon"></i>
                <span class="title">Instagram Reels Downloader</span>
                <div class="arrow"></div>
            </a>
            <i class="bg-icon"></i>
        </div>
        <div class="tool instagram-videos">
            <a class="link" href="{% url 'app_webapp:photo_video_downloader_index' %}">
                <i class="icon"></i>
                <span class="title">Instagram Videos Downloader</span>
                <div class="arrow"></div>
            </a>
            <i class="bg-icon"></i>
        </div>
        <div class="tool instagram-photos">
            <a class="link" href="{% url 'app_webapp:photo_video_downloader_index' %}">
                <i class="icon"></i>
                <span class="title">Instagram Photos Downloader</span>
                <div class="arrow"></div>
            </a>
            <i class="bg-icon"></i>
        </div>
    </div>

</div>