{% extends 'webapp/_base.html' %}
{% block content %}
<div class="header">
    <h1 class="heading">Contact Us</h1>
</div>

<div class="content">
    <h2 class="heading">Have Queries or Concerns?</h2>
    <p>Thank you for visiting our website. If you have any questions or concerns our support team is always ready to
        assist you.</p>
    <p>Please don't hesitate to report any issues you may be experiencing. We try to make sure the website is always
        running smoothly but sometimes we might be unaware of certain errors.</p>
    <p>If have questions regarding our tools or wish to submit a feature request we're always interested to hear your
        ideas.</p>

    <h2 class="heading">Way To Reach Us?</h2>
    <p>Please write us at the email below. Allow up to 24 hours for us to respond.</p>
    <p><a href="mailto:hello@betaweb.app" target="_blank"
            style="font-size: 14px; font-weight: 700;">hello@betaweb.app</a></p>

</div>
<hr />
{% endblock content %}