{% extends 'webapp/_base.html' %}
{% block title %}
- Download Instagram Stories Anonymously
{% endblock title %}
{% block description %}
Betaweb.app allow you to download and view content publicly available Instagram Stories & Highlights Anonymously.
{% endblock description %}
{% block content %}
<div class="header">
    <h1 class="heading">Instagram Stories & Highlights Downloader</h1>
    <p class="desc">Betaweb.app allow you to download and view content publicly available Instagram Stories & Highlights Anonymously.</p>
</div>
{% include 'webapp/_tools-bar.html' with selected="stories" class='instagram-stories' %}
{% endblock content %}