{% extends 'webapp/_base.html' %}
{% block title %}
- Know Who Unfollowed Me On Instagram
{% endblock title %}
{% block description %}
Betaweb.app allow you to check Who Unfollowed You On Instagram for publicly available Instagram profiles.
{% endblock description %}
{% block content %}
<div class="header">
    <h1 class="heading">Who Unfollowed Me On Instagram?</h1>
    <p class="desc">Betaweb.app allow you to check Who Unfollowed You On Instagram for publicly available Instagram profiles.</p>
</div>
{% include 'webapp/_tools-bar.html' with selected="unfollow" class="profile-pictures" %}

{% endblock content %}